html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}
hr{
    width: 90%;
    color: black;
    margin: auto;
}
#contenedor-carga{
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
    margin: 1rem;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: green;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#btn-eliminarReservas {
    margin: 2rem;
}

#titu3div {
    background-color: black;
}

#titu1div {
    background-color: black;
    box-shadow: 0 0.1rem 0.4rem black;
}

#titu2div {
    background-color: black;
    box-shadow: 0 0.1rem 0.4rem black;
}

#titu3div {
    background-color: black;
}

#titulo3 {
    text-align: left;
    color: blue;
    font-size: larger;
    padding: 1rem;
    margin-bottom: 0;
}

#titulo2 {
    text-align: left;
    color: blue;
    font-size: larger;
    padding: 1rem;
    margin-bottom: 0;
}

#titulo1 {
    text-align: center;
    color: blue;
    font-size: larger;
    padding: 1rem;
    margin-bottom: 0;
}

#divPublicar {
    background-color: rebeccapurple;
    padding: 2rem;
}

#segundoTitulo2 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: black;
}

.contacto a{
    text-decoration: none;
}

.contacto a:hover{
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 1rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    transition: all 0.7s;
}

.nav-item a:hover {
    transform: scale(1.1);
}

/* Estilos por defecto del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos del contenido del modal */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  /* Estilos del botón de cierre del modal */
  .closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Estilos del botón de cierre del modal al pasar el mouse por encima */
  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

.principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#disponibles {
    font-size: 1cm;
    padding: 1rem;
}

#kmTitu {
    font-size: 1cm;
    margin: 1rem;
}

.card {
    justify-content: space-between;
    width: 18rem;
    margin: 1.5rem;
    border: solid black 1px;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}

.enlaceVehi {
    text-decoration: none;
    color: black;
}

.card-groupkm {
    font-size: medium;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 7rem;
    margin-top: -0.1rem;
    justify-content: center;
}

.card-group {
    font-size: medium;
    display: flex;
    justify-content: center;
}


.card-img-top {
    width: 286px;
    height: 170px;
    border-radius: 0.3rem;
}

.card:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.1rem 0.4rem black;
}

.card-title {
    /* previene saltos de linea */
    white-space: nowrap;
    /* oculta el texto que sobra */
    overflow: hidden;
    /* Impone los puntos suspensivos */
    text-overflow: ellipsis;
}

/* .btn-success, .btn-primary{
    width: 3cm;
    height: 1cm;
} */

footer {
    color: white;
    text-align: center;
    width: 100%;    
    padding: 50px 0px;
    background-image: url(https://wisynco.com/wp-content/uploads/2014/12/footer-background-011.jpg);
    background-size: cover;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;   
}
#formC{
    display: flex;
    background-color: gray;
    color: black;
    justify-content: center;
    margin-left: -4rem;
}
#form {
    display: flex;
    background-color: gray;
    color: black;
}

#btnC{
    margin: 1rem;
    width: 5cm;
    height: 1cm;
    margin-left: 37rem;
}
.labelC{
    margin-left: 29rem;
    margin-bottom: 0.5rem;
}
.label1 {
    margin-left: 1rem;
    display: flex;
}

.label2 {
    margin-top: -3rem;
    display: flex;
}

#nmC, #eC, #aC{
    width: 10cm;
    height: 1cm;
    margin-left: 31rem;
}
#mC{
    width: 10cm;
    height: 6cm;
    margin-left: 31rem;
}
#Dni,
#nombreApellido,
#Email,
#Telefono,
#formFile {
    width: 8cm;
    height: 1cm;
    margin-left: 2rem;
}

#marcaModelo,
#color,
#km,
#precio,
#año {
    width: 8cm;
    height: 1cm;
    margin-left: 2rem;
}

#btnEnviar {
    margin: 3rem;
    margin-left: 20rem;
    width: 5cm;
    height: 1cm;
}
.modal-content{
    font-size: small;
}
.swal-modal {
    border: 3px solid black;
}

.swal-overlay {
    background-color: rgba(56, 56, 56, 0.45);
}

.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

@media screen and (max-width : 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width : 1121px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width : 680px) {
    .card-groupkm {
        display: table-row;
    }
}
@media only screen and (max-width:540px){
    .card-group{
       display: grid; 
    }
}
@media  only screen and (max-width:1251px) {
    #btnEnviar {
        margin: 3rem;
        margin-left: 4rem;
        width: 5cm;
        height: 1cm;
    }
}
@media only screen and (max-width: 1251px){
    #Dni,
#nombreApellido,
#Email,
#Telefono,
#formFile {
    width: 7cm;
    height: 1cm;
    margin-left: 1rem;
}

#marcaModelo,
#color,
#km,
#precio,
#año {
    width: 7cm;
    height: 1cm;
    margin-left: 1rem;
}
.label1 {
    margin-left: 2rem;
    margin-top: 1rem;
}

.label2 {
    margin-left: 2rem;
    margin-top: 1rem;
}
}

@media only screen and (max-width:1000px){
    .labelC{
        margin-left: 4rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    #nmC, #eC, #aC{
        width: 6cm;
        height: 1cm;
        margin-left: 5rem;
    }
    #mC{
        width: 7cm;
        height: 6cm;
        margin-left: 4rem;
    }
    #btnC{
        margin: 1rem;
        width: 5cm;
        height: 1cm;
        margin-left: 6rem;
    }
}
